		*{
			padding: 0;margin: 0;
		}
		h1, h2, h3, h4, h5{
			font-family: 'Source Sans Pro', sans-serif;
		}
		a{
			text-decoration: none;
			color: #000;
		}
		body{
			background: -moz-radial-gradient(circle, #fff, #ddd);
			background: -webkit-radial-gradient(circle, #fff, #ddd);
			background-image: url(robots.png) bottom right no-repeat fixed;
			font-family: 'Source Sans Pro', sans-serif;
		}
		/* Menu atas */
		.fly{
			background-color: #20b2aa;
			background-image: -webkit-linear-gradient(center top , #20b2aa 0%, #20b2aa 100%);
			background-image: -moz-linear-gradient(center top , #20b2aa 0%, #20b2aa 100%);
			background-image: -o-linear-gradient(center top , #20b2aa 0%, #20b2aa 100%);
			background-image: -ms-linear-gradient(center top , #20b2aa 0%, #20b2aa 100%);
			background-image: linear-gradient(center top , #20b2aa 0%, #20b2aa 100%);
			border-bottom: 1px solid rgba(255, 255, 255, 0.1);
			-webkit-box-shadow: 0 2px 0 #0E5A8C;
			box-shadow: 0 2px 0 #0E5A8C;
			font-size: 13px;
			height: 50px;
			left: 0;
			position: fixed;
			right: 0;
			top: 0;
			width: 100%;

		}
			.fly .content ul{
				list-style-type: none;
				float: right;
			}
				.fly .content ul li{
					display: inline;
				}
					.fly .content ul li a{
						display: inline-block;
						text-decoration: none;
						padding: 15px 10px;
						border-right: 1px solid rgba(255, 255, 255, 0.125);
						color: #ffffff;
						font-weight: normal;
					}
					.fly .content ul li a:hover, .fly .content ul li a.active{
						background: -webkit-linear-gradient(top, #2b90d2, #1382cb);
						background: -moz-linear-gradient(top, #2b90d2, #1382cb);
						background: -o-linear-gradient(top, #2b90d2, #1382cb);
						background: -ms-linear-gradient(top, #2b90d2, #1382cb);
						background: linear-gradient(top, #2b90d2, #1382cb);
					}

			.fly .content .ribbon{
				text-align: center;
				float: left;
				width: 100px;
				background: #00bfff;
				padding: 25px 10px;
				-webkit-box-shadow: 0 8px 6px -6px #999;
				   -moz-box-shadow: 0 8px 6px -6px #999;
				        box-shadow: 0 8px 6px -6px #999;
				color: #ffffff;						
			}
			.fly .content .ribbon:hover{
				background: orange;
			}	

		/* Content untuk semua */
		.content{
			max-width: 940px;
			margin: 0 auto;
		}

		.flying-robot{
			position:fixed; top:50px; left:10px;padding:10px;
			height: 150px;
			width: 150px;
		}

		/* Halaman Utama */
		.main{
			margin-top:50px;
			margin-bottom: 50px
		}
			.main .content p{
				margin-bottom: 30px;
			}


@media (max-width: 767px) {
	.flying-robot{
		position:relative;
		text-align: center;
		top:60px;		
	}	
	.fly{
		text-align: center;
	}
	.fly .content ul li a{
		border:none;
	}
	.content{
		width: 100%;
	}
	.main .content h1,
	.main .content p{
		margin: 10px;
	}
	.footer{
		text-align: center;
	}
}
@media (max-width: 520px){
	.fly{

			    height: 60px;
	}
	.fly .content .ribbon{
	padding: 2px 10px;
		display: block;
		width: 100%;
	}
	.main{
		margin-top:80px;
		margin-bottom: 80px
	}	
}