@import url(tables.css);
*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}


body{
	background: #dedede;
	font-family: 'Helvetica', arial, sans-serif;

	font-size: 15px;
}

p{
	font-size:19px;
}
h2{
	margin-bottom: 20px;
	border-bottom: 1px solid #aaa;
}

a{
	text-decoration: none;
	color: #333;
}
a:hover{
	color: #666;
}


.container{
	max-width: 1080px;
	margin: 20px auto;
	background: #fff;
	overflow: hidden;
	padding: 10px;
}


.header{
	text-align: center;
}
.header img{
			max-width: 100%;
			height: auto;
		}

/* Main */
	.left{
		width: 250px;
		border: 1px solid #dedede;
		background: #e5e5e5;
		padding: 10px;
		margin: 10px;
		float: left;
	}

	.jadwal{
		width: 100%;
	}
		.jadwal img{
			max-width: 100%;
			height: auto;
		}

		.jadwal a{
			font-weight: bold;
		}
		
		.stadion img{
			max-width: 90%;
			height: auto;
			border: 1px solid #dedede;
		}
		
		.pesan{
		width: 100%;
		border: 0px solid #dedede;
		padding: 200px;
		margin: 0px;
		float: center;
	}
	
	.pesan pesan{
			max-width: 100%;
			height: auto;
		}

	.login{
		width: 100%;
		border: 1px solid #fffff;
		padding: 10px;
		margin: 10px;
		float: center;
	}


	.right ul{
		list-style-type: none;
	}
	.right ul li{
		display: block;
	}
	.right ul li a{
		display: block;
		border-bottom: 1px solid #dedede;
		margin-bottom: 10px;
		padding: 10px 5px;
	}
	.right ul li a:hover{
		color: orange;
	}

.footer{
	text-align: center;
}
.footer img{
			max-width: 100%;
			height: auto;
		}


/************************************************************************************
MEDIA QUERIES
*************************************************************************************/
/* untuk ukuran 1080px kebawah */
@media screen and (max-width: 1080px) {
	
	.container {
		width: 100%;
	}
	.left {
		width: 25%;
		background: #fff000;
	}
	.jadwal {
		width: 100%;
		float: right;
	}
	
	.login {
		clear: both;
		padding: 1% 4%;
		width: auto;
		float: none;
	}
	
	.pesan {
		width: auto;
		float: none;
		padding: 10px;
				background: #f5f5f5;

	}
}


/* untuk ukuran layar 700px kebawah */
@media screen and (max-width: 780px) {
	
	.header, 
	.footer{
		text-align: center;
	}
	.left {
		width: auto;
		float: none;
	}
	
	.jadwal {
		width: auto;
		float: none;
	}
	
	.login {
		width: auto;
		float: none;
	}
	
	.pesan {
		width: auto;
		float: none;
		padding: 10px;
				background: #f5f5f5;

	}

}

